# log
*.log

# backup files
*~
*.bak
.fuse_hidden*

# mac OS
.DS_Store
._*

# C/C++ objects
.o
.so

# Python
*.pyc
__pycache__/*
.python-version

# ipython notebook
.ipynb_checkpoints/

# LaTeX
*.aux
*.dvi
*.pdf
